.title {
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 20px;
}
.store-list {
	width: 100%;
}
.store-item {
	height: 100%;
	margin-top: 20px;
	cursor: pointer;
	margin-right: 20px;
}
.add-box {
	height: 170px;
	background: #eff0f1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-icon {
	height: 25px;
	width: 25px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-box:hover {
	border: 1px dashed var(--el-color-theme);
	background: #fff;
}
.add-box:hover .add-store-name {
	color: var(--el-color-theme);
}
.add-box:hover .add-icon {
	border: 1px solid var(--el-color-theme);
}
.add-box:hover .icon-color {
	color: var(--el-color-theme);
}
.add-item-box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 170px;
}
.add-store-name {
	font-size: 16px;margin-left: 10px
}
.title-box {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.title-left {
	display: flex;
	height: 40px;
	align-items: center;
	color: #1f2329;
}
.knowledge-title {
	margin-left: 10px;
	width: 250px;
}
.title-label {
	background: var(--el-color-theme);
	color: #fff;
	border-radius: 10px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
}
.description {
	margin-top: 15px;
	color: #606266;
	height: 55px;
	width: 100%;
	overflow: hidden;
}
.tool-bar {
	width: 100%;
	border-top: 1px solid #e2e2e2;
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}
.tool-time {
	font-size: 12px;
	color: #606266;
}
.menu-bar {
	margin: 0 auto;
	margin-top: 10px;
	width: 400px;
	padding: 10px 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	margin-bottom: 20px;
}
.menu-item {
	display: flex;
	cursor: pointer;
}
.menu-item-active {
	color: var(--el-color-theme);
}
